
.body{
    background-color:#f0ebf8;
    font-family: Arial, sans-serif;
    margin:50px;
    padding:20px;
    border:1px solid black;
    border-radius:30px;
    height:30px;
}

.container{
    width:500px;
    margin:40px auto;
    border:1px solid black;
    padding:20px;


}

.header{
    background-color:#673ab7;
    height:10px;
    border-radius:20px;
}

.form-box{
    background:white;
    padding:30px;
    border-radius: 8px;
    box-shadow: 6px rgba(244, 78, 78, 0.2);
}

h2{
    margin-top:40px;
    color:#5473cf;
}

.label{
    display:block;
    margin-top:20px;
    font-weight:bold;
    color:#202124;
}

input, select, textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:20px;
    border-bottom:1px solid #dadce0;
    font-size:14px;
}

input:focus, select:focus, textarea:focus{
    outline:none;
    border-bottom:2px solid #673ab7;
}

.radio-group, .checkbox-group{
    margin-top:10px;
}

button{
    background-color:#673ab7;
    color:white;
    padding:10px 29px;
    border:none;
    border-radius:10px;
    margin-top:25px;
    cursor:pointer;
}

button:hover{
    background-color:#5e35b1;
}


