.login
{


    padding: 20px;
    background-color: rgb(199, 169, 18);
    font-size: 20px;
    margin: 3px;
    border: 1px solid #b4ce56e6;
    
}
.login input
{
    padding: 10px;
    margin: 10px;
    border: 1px solid #391497e6;
    border-radius: 5px;
}
.login button
{
    padding: 10px;
    margin: 10px;
    border: 1px solid #b4ce56e6;
    border-radius: 5px;
    background-color: rgb(199, 169, 18);
    font-size: 20px;
}

.submit-btn{
    margin-top: 10px;
}

.label-name{
    font-size: 21px;
    font-weight: bold;
}
.input-field{
    display: flex;
    flex-direction: column;
    height: 24px;
    border-radius: 5px;
}