/* .login
{


    padding: 20px;
    background-color: rgb(199, 169, 18);
    font-size: 20px;
    margin: 3px;
    border: 1px solid #b4ce56e6;
    
}
.login input
{
    padding: 10px;
    margin: 10px;
    border: 1px solid #391497e6;
    border-radius: 5px;
}
.login button
{
    padding: 10px;
    margin: 10px;
    border: 1px solid #b4ce56e6;
    border-radius: 5px;
    background-color: rgb(199, 169, 18);
    font-size: 20px;
} */
 
/*.label-name{
 font-size: 20px;
    font-weight: bold;
    background: 20px;
}
.user-name{
    margin: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}
.login-button{
    margin-top: 15px;
    background: yellow;
    border: 1px solid black;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
} */

.Username{
    margin: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}
.password{
    margin: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}
.login-button{
   width: 171px;
    background-color: rgb(45, 42, 240);
    color: white;
    border: 4px solid black;
}

body{
    display:flex;
    background-color: azure;
    justify-content: center;
    align-items:center;
    height:100vh;

}


.input-block{

    background-color:#cdaaaa;
    padding: 20px 30px;
    border-radius: 20px;
    border-color: black;
    margin:auto;
    width:200px;
}


.login-Form{
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    text:bold;
    align-items: center;
}