/* .login
{


    padding: 20px;
    background-color: rgb(199, 169, 18);
    font-size: 20px;
    margin: 3px;
    border: 1px solid #b4ce56e6;
    
}
.login input
{
    padding: 10px;
    margin: 10px;
    border: 1px solid #391497e6;
    border-radius: 5px;
}
.login button
{
    padding: 10px;
    margin: 10px;
    border: 1px solid #b4ce56e6;
    border-radius: 5px;
    background-color: rgb(199, 169, 18);
    font-size: 20px;
} */

.label-name{
 font-size: 20px;
    font-weight: bold;
    background: 20px;
}
.user-name{
    margin: 4px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}
.login-button{
    margin-top: 15px;
    background: yellow;
    border: 1px solid black;
    padding: 5px;
    width: 300px;
    border-radius: 10px;
}

